<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Website | Home</title>

        <link rel="stylesheet" href="/public/Home.css">
        <link rel="stylesheet" href="/public/Admin.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <nav <% if (isAdminPage) { %> style="justify-content: center;" <% } %>>
            <div id="Logo">
                <b>News</b>WebSite
                <% if (isAdminPage) { %>
                    | Admin Panel
                <% } %>
            </div>
            <% if (!isAdminPage) { %>
                <form method="get">
                    <div id="Search-Bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input name="search" type="text" placeholder="Search...">
                    </div>
                </form>
            <% } %>
        </nav>
        