<%- include("Partials/header.html") %> 
<section id="Headline">
    <div id="HeadlineContainer">
        <div id="HeadLineContainerOverlay"></div>

        <div id="HeadlineContent">
            <h2>Headline Header 1</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, iure sapiente nobis voluptatum excepturi in distinctio, velit nesciunt ratione quos officia at, error eaque laudantium inventore ab dolorum. Perferendis, quisquam.
            </p>
        </div>
        <img src="/public/Data/Images/Backgrounds/Example1.jpeg" alt="Headline-BackgroundImage">
    </div>
</section>

<section id="Other-News">
    <h2>
        Last News
    </h2>

    <div id="News-Content">
        <div id="Last-News">
            <div class="NewContainer">
                <img src="/public/Data/Images/Backgrounds/Surfing.jpeg" alt="">
                <div class="NewContent">
                    <p class="New-Category">
                        More about Adventure
                    </p>
                    <h2 class="New-Title">
                        Random Example about Surf
                    </h2>
                    <p class="New-Description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                    </p>
                </div>
            </div>
            <div class="NewContainer">
                <img src="/public/Data/Images/Backgrounds/Surfing.jpeg" alt="">
                <div class="NewContent">
                    <p class="New-Category">
                        More about Adventure
                    </p>
                    <h2 class="New-Title">
                        Random Example about Surf
                    </h2>
                    <p class="New-Description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                    </p>
                </div>
            </div>
            <div class="NewContainer">
                <img src="/public/Data/Images/Backgrounds/Surfing.jpeg" alt="">
                <div class="NewContent">
                    <p class="New-Category">
                        More about Adventure
                    </p>
                    <h2 class="New-Title">
                        Random Example about Surf
                    </h2>
                    <p class="New-Description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                    </p>
                </div>
            </div>
            <div class="NewContainer">
                <img src="/public/Data/Images/Backgrounds/Surfing.jpeg" alt="">
                <div class="NewContent">
                    <p class="New-Category">
                        More about Adventure
                    </p>
                    <h2 class="New-Title">
                        Random Example about Surf
                    </h2>
                    <p class="New-Description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                    </p>
                </div>
            </div>
        </div>
        <div id="MoreViews-News">
            <h2>Most Viewed</h2>

            <div id="MoreViews-NewsList">
                <div class="Block-NewContainer">
                    <img src="/public/Data/Images/Backgrounds/Surfing.jpeg">
                    <div class="Block-NewContent">
                        <h3 class="Block-New-Category">
                            More about Adventure
                        </h3>
                        <p class="Block-New-Description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                        </p>
                    </div>
                </div>
                <div class="Block-NewContainer">
                    <img src="/public/Data/Images/Backgrounds/Surfing.jpeg">
                    <div class="Block-NewContent">
                        <h3 class="Block-New-Category">
                            More about Adventure
                        </h3>
                        <p class="Block-New-Description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                        </p>
                    </div>
                </div>
                <div class="Block-NewContainer">
                    <img src="/public/Data/Images/Backgrounds/Surfing.jpeg">
                    <div class="Block-NewContent">
                        <h3 class="Block-New-Category">
                            More about Adventure
                        </h3>
                        <p class="Block-New-Description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                        </p>
                    </div>
                </div>
                <div class="Block-NewContainer">
                    <img src="/public/Data/Images/Backgrounds/Surfing.jpeg">
                    <div class="Block-NewContent">
                        <h3 class="Block-New-Category">
                            More about Adventure
                        </h3>
                        <p class="Block-New-Description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum dolor omnis numquam odit voluptates atque, quos praesentium porro aut accusamus ullam sed, molestiae excepturi, ipsa vitae libero dicta nemo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("Partials/footer.html") %> 