<%- include("Partials/header.html") %> 
<section id="Headline">
    <div id="HeadlineContainer">
        <div id="HeadLineContainerOverlay" onclick="window.location.href='<%= posts[0]._id %>'"></div>

        <div id="HeadlineContent">
            <h2><%= posts[0].Category %></h2>
            <p><%= posts[0].Description %></p>            
        </div>
        <img src="<%= posts[0].Image %>" alt="Headline-BackgroundImage">
    </div>
</section>

<section id="Other-News">
    <h2>
        Last News
    </h2>

    <div id="News-Content">
        <div id="Last-News">
            <% 
            const remainingPosts = posts.slice(1);
            remainingPosts.forEach(function(post){ %>
                <div class="NewContainer" onclick="window.location.href='<%= post._id %>'">
                    <img src="<%= post.Image %>">
                    <div class="NewContent">
                        <p class="New-Category">
                            <%= post.Category %>
                        </p>
                        <h2 class="New-Title">
                            <%= post.Title %>
                        </h2>
                        <p class="New-Description">
                            <%= post.Description %>
                        </p>
                    </div>
                </div>
            <% }); %>    
        </div>
        <div id="MoreViews-News">
            <h2>Most Viewed</h2>

            <div id="MoreViews-NewsList">
                <% mostViewed.forEach(function(post){ %>
                    <div class="Block-NewContainer" onclick="window.location.href='<%= post._id %>'">
                        <img src="<%= post.Image %>" alt="Post image">
                        <div class="Block-NewContent">
                            <h3 class="Block-New-Category">
                                <%= post.Category %>
                            </h3>
                            <p class="Block-New-Description">
                                <%= post.Description %>
                            </p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>
<%- include("Partials/footer.html") %> 