body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#Admin-Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
}

.login-container {
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 2.5em; 
    margin-bottom: 0.8em;
    color: #333;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1em;
}

.login-form input[type="submit"] {
    width: 100%;
    font-size: 1.4em;
    padding: 10px;
    margin-top: 0.5em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

.error-box {
    color: #fff;
    background-color: #dc3545;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

#Admin-Panel {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#Admin-Panel .new-post-form, .posts-listing {
    width: 80%;
    padding: 2em 2em 3em 2em;
    border-radius: 8px;
}

#Admin-Panel .new-post-form h2, .posts-listing h2 {
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 15px;
}

#Admin-Panel form input, #Admin-Panel form button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
    float: right;
    margin-bottom: 1em;
}

#Admin-Panel form button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

#Admin-Panel table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#Admin-Panel table, #Admin-Panel th, #Admin-Panel td {
    border: 1px solid #ddd;
}

#Admin-Panel th, #Admin-Panel td {
    padding: 10px;
    text-align: left;
}

#Admin-Panel th {
    background-color: #007bff;
    color: white;
}

#Admin-Panel td a {
    margin-right: 10px;
}

#Admin-Panel td:last-child {
    display: flex;
    justify-content: space-around;
}

.fas.fa-edit {
    color: green;
}

.fas.fa-trash-alt {
    color: #dc3545;
}

#New-Post, #Edit-Post {
    display: flex;
    align-items: center;    
    height: 100%;
}

#New-Post .container, #Edit-Post .container {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
}

.btn-submit {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}
