@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;

    margin: 0;
    padding: 0;
}

nav {
    display: flex;

    background-color: #2e93c2;

    padding: 1em 4em;

    justify-content: space-between;
}

#Logo {
    font-size: 1.85em;
    font-weight: 300;

    color: white;
}

#Search-Bar {
    display: flex;

    background-color: #2479a0;
    color: white;

    padding: 0.3em 0.6em 0.3em 0.7em;
    margin-left: 1.5em;

    align-items: center;

    overflow: hidden;

    border-radius: 0.9em;
    border: 1px solid #164e68;
}

#Search-Bar input {
    all: unset;

    margin-left: 0.5em;

    color: white;
}

#Search-Bar input::placeholder {
    color: #d8d4d4;
}

#Headline {
    display: flex;

    margin: 8vh 17vw;

    justify-content: center;
}

#HeadlineContainer {
    position: relative;
}

#HeadlineContainer img {
    width: 100%;
    height: 100%;
    
    border-radius: 1em;
}

#HeadlineContainer #HeadlineContent {
    position: absolute;
    
    max-width: 60%;
    max-height: 40%;

    bottom: 0;
    left: 0;

    color: white;

    margin: 4%;

    overflow: hidden;
}

#HeadlineContainer #HeadlineContent h2 {
    font-size: 2.25vw;
    color: #fff;

    margin-bottom: 0.5em;
}

#HeadlineContainer #HeadlineContent p {
    font-size: 1.1vw;
}

#HeadlineContainer #HeadLineContainerOverlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.35);

    border-radius: 1em;
}

#Other-News {
    display: flex;

    background-color: #e0dede;

    padding-bottom: 3%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Other-News > h2 {
    font-size: 2.8vw;

    padding: 1em 0;

    text-align: center;
}

#Other-News #News-Content {
    display: flex;

    margin: 0 5%;
}

#Other-News #News-Content #Last-News {
    display: grid;

    grid-template-columns: auto auto;

    width: 65%;
}

#Other-News #News-Content #MoreViews-News {
    width: 30%;

    margin: 2%;

    text-align: center;
}

#Other-News #News-Content #MoreViews-News h2 {
    font-size: 2vw;

    width: 100%;

    color: white;
    background-color: #146fc4;

    padding: 0.8em 0;

    border-radius: 0.8em 0.8em 0 0;
}

#Other-News #News-Content #MoreViews-News #MoreViews-NewsList {
    width: 100%;

    background-color: white;

    border-radius: 0 0 0.8em 0.8em;
}

.Block-NewContainer {
    display: flex;

    padding: 2em 0;
    margin: 0 2em;

    align-items: flex-start;

    overflow: hidden;
}

.Block-NewContainer > img {    
    width: 40%;
    height: auto;
    aspect-ratio: 1/1;

    object-fit: cover;

    border-radius: 1em;
}

.Block-NewContainer .Block-NewContent {
    margin-left: 1em;

    text-align: left;
    overflow: hidden;
}

.Block-NewContainer .Block-NewContent .Block-New-Category {
    font-size: 1vw;

    color: #0a3864;

    margin: 0.5em;
}

.Block-NewContainer .Block-NewContent .Block-New-Description {
    font-size: 1vw;

    max-height: 10vw;

    margin: 0.5em;

    color: #555555;

    overflow: hidden;
} 

.NewContainer {
    background-color: white;

    margin: 5%;

    overflow: hidden;

    border-radius: 0.7em;
}

.NewContainer img {
    width: 100%;
}

.NewContainer .NewContent {
    margin: 2em;
}

.NewContainer .NewContent .New-Category {
    font-weight: 500;

    color: #1b79d1;

    margin: 1em 0;
}

.NewContainer .NewContent .New-Title {
    color: #1a1919;

    margin-bottom: 0.7em;
}

.NewContainer .NewContent .New-Description {
    font-size: 1vw;

    max-height: 15vw;
    
    color: #313030;

    overflow: hidden;
} 

#Other-News.Self-New .NewContainer {
    position: relative;
}

#Other-News.Self-New .NewContainer {
    margin: 5% 0;
}

#Other-News.Self-New .New-Title {
    font-size: 2.5vw;
    font-weight: 800;
}

#Other-News.Self-New .New-Description {
    font-size: 1.15vw;
    margin-top: 2em;
}

#Other-News.Self-New .New-BackNewsPage {
    position: absolute;
    
    bottom: 0;
    left: 0;

    color: #9c0505;

    margin: 2em;

    text-decoration: none;
}

#Other-News.Self-New .New-BackNewsPage i {
    margin-left: 0.3em;
}

#Other-News.Self-New .New-By {
    font-size: 1.5vw;
    font-weight: 400;

    margin-bottom: 1em;

    color: #366aa1;
}

.Search-Page#Other-News {
    display: block;
}

.Search-Page#Other-News #News-Content  {
    padding: 3% 0;
}
 
.Search-Page#Other-News #News-Content #MoreViews-News {
    width: 100%;
}

.Search-Page#Other-News .Block-NewContainer > img {
    width: 20%;
}

.Search-Page#Other-News .Block-NewContainer .Block-NewContent .Block-New-Category {
    font-size: 1.5vw;
}

.Search-Page#Other-News .Block-NewContainer .Block-NewContent .Block-New-Description {
    font-size: 1.5vw;
}

#NoSearchResult {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 5em;
}

#NoSearchResult h2 {
    font-size: 2vw;

    margin-bottom: 1em;
}

#NoSearchResult p {
    font-size: 1.2vw;

    margin-bottom: 2em;
}

#NoSearchResult button {
    all: unset;

    font-size: 1vw;

    padding: 1em 2em;

    background-color: #175894;
    color: white;

    border-radius: 1em;
    border: 2px solid #0a3864;
}

.site-footer {
    padding: 1.25em 2em;

    background-color: #2e93c2;
    color: white;
    
    text-align: center;
}

.site-footer .container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.site-footer #enterprise-name {
    font-weight: 300;
}

.site-footer .social-links {
    margin-top: 10px;
}

.site-footer .social-links a {
    font-size: 24px;

    color: white;

    margin: 0 10px;
}

@media (min-width: 768px) {
    .site-footer .container {
        flex-direction: row;
    }
}


@media only screen and (max-width: 850px)  {
    #Headline {    
        margin: 8vh 7.5vw;
    }

    #Other-News #News-Content #Last-News {   
        grid-template-columns: auto;
    }

    #Other-News #News-Content {
        flex-direction: column;
    }

    #Other-News #News-Content #Last-News, #Other-News #News-Content #MoreViews-News {
        width: 100%;
    }

    #Other-News #News-Content #MoreViews-News {
        margin: 5% 0;
    }

    #Other-News > h2 {
        font-size: 7vw;
    }

    .NewContainer {
        margin: 5% 0;
    }

    .Block-NewContainer .Block-NewContent .Block-New-Category, .Block-NewContainer .Block-NewContent .Block-New-Description {
        font-size: unset;

        max-height: 20vw;
    }
}